# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Jupyter notebooks
notebooks/
*.ipynb

# Samples and binaries
samples/
*.pdf
*.docx
*.png
*.jpg
*.jpeg
*.gif
*.whl

# Hugging Face won't allow these
website_images/

# Docker build artifacts
*.log
.dockerignore
docker-compose.yml
